@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');
@import "tailwindcss";

:root {
  background-color: #0e0e0e;
  --toastify-color-dark: #121212;
  --toastify-color-info: var(--color-roxo-200);
  --toastify-color-success: var(--color-roxo-100);
  --toastify-color-warning: var(--color-roxo-50);
  --toastify-color-error: var(--color-rosa-100);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-bd-radius: 8px;
  --toastify-font-family: var(--font-family-Source);
  --toastify-text-color-light: var(--color-branco);
  --toastify-text-color-dark: var(--color-branco);

  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
    box-shadow: 0 0 0 1000px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
    color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
  }
}

@theme {
  --color-branco: #ffff;
  --color-preto: #000;
  --color-cinza-50: #1d1322;
  --color-cinza: #0e0e0e;
  --color-cinza-100: #1E1E1E;
  --color-cinza-50: #757575;
  --color-azul-100: #0067e9;
  --color-azul-200: #05499f;

  --color-roxinho: #F5EEFD;
  --color-roxo-50: #981c9d;
  --color-roxo-100: #896AB7;
  --color-roxo-200: #352060;
  --color-roxo-250: #5A12B3;
  --color-roxo-300: #140031;
  --color-roxo-350: #5F16E4;

  --color-verde-100: #9CE316;

  --color-rosa-100: #e65395;
  --color-rosa-200: #c60f61;

  --font-family-Source: "Source Sans 3", sans-serif;
}


  @apply scroll-smooth;


body {
  background-color: var(--color-cinza);
  font-family: var(--font-family-Source);
  font-weight: 400;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-Source);
  font-weight: 700;
}
